<div class="hero-container">
  <div class="hero">
    <!-- Left side: image -->
    <div class="hero-image">
      <img src="assets/BG3.png" alt="Hero" />
    </div>

    <!-- Right side: form -->
    <div class="hero-form">
      <form>
        <h1>Set the mood... 🎥</h1>
        <span>
          Enter mood & genre keywords and we will do our best to give you some
          good movie options!
        </span>
        <chips-input></chips-input>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<section class="recommendation-section">
  <div class="list-heading">
    <h1>Hot right now 🌶️</h1>
  </div>
  <app-movies-layout [movies]="movies"></app-movies-layout>
</section>
